@import url(./global.css);
@import url(./reset.css);

body {
    margin: 0px;
    background-color: black;
}

.banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(18, 78, 104, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%), url('assets/images/banner.png');
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 550px;
    position: relative;
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    width: 490px;
    height: 550px;
    text-align: center;
    align-content: center;
    margin: auto;
}

.logo {
    background-color: rgba(5, 13, 17, 0.35);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    margin: auto;
}

.banner-content h1 {
    letter-spacing: 3px;
    font-family: fantasy;
    color: #1f84c3;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 1000;
    background: linear-gradient(180deg, #00aaff, #0077cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: white;
    margin: 0px;
}

.p-banner {
    font-size: 18px;
    text-align: left;
}

button {
    width: 340px;
    height: 60px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    color: #0077cc;
    border: 2px solid #33A8DB;
    background-color: #0000;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    transition: transform 0.6s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

button a {
    text-decoration: none;
    color: #0077cc;
}

#transform-world {
    background-image: url('assets/images/woman-code.png');
    height: 365px;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid #33A8DB;
}

#transform-world p {
    text-transform: lowercase;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 3px 3px 1px #2a94e0;
    width: 250px;
    position: relative;
    left: 150px;
    top: 90px;
}

h2 {
    color: #2a94e0;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0px;
}

#course-content {
    width: 100%;
    height: 480px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #278bd3;
}

#course-content h2 {
    margin-top: 52px;
    margin-bottom: 25px;
    letter-spacing: 3px;
}

.modules-list {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.module span {
    color: #0077cc;
}

.module {
    width: 500px;
    height: 50px;
    border: 1px solid #0077cc;
    border-radius: 20px;
    line-height: 50px;
    background-color: #252525;
    margin-top: 24px;
    box-shadow: inset -3px 10px 5px -5px #111111;
    text-align: left; /* Preferi deixar o texto do lado esquerdo */
    padding-left: 3em;
}

#course-content p {
    white-space: pre;
}

#professional-challenges h2 {
    width: 750px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    letter-spacing: 3px;
}

#professional-challenges {
    border-bottom: 2px solid #132f42;
    margin: auto;
    text-align: center;
}

#professional-challenges img {
    margin-top: 18px;
}

#professional-challenges p {
    width: 800px;
    height: 80px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

footer {
    padding: 3em;
    align-items: center;
    display: grid;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(20, 79, 103, 0.3) 94%);
    text-align: center;
    gap: 10px;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: #00aaff;
}